################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/scladova.nalichnost/v16/Browse.VC.db
/.vs/scladova.nalichnost/v16/Browse.VC.db-shm
/.vs/scladova.nalichnost/v16/Browse.VC.db-wal
/.vs/scladova.nalichnost/v16/Browse.VC.opendb
/.vs/slnx.sqlite
